# Bytecode definitions for Dora
# This is the source of truth for enum values shared between Rust and Dora.
# Run `./tools/bytecode-gen.py` to regenerate pkgs/boots/bytecode/opcode.dora

[BytecodeOpcode]
name_function = "bytecodeName"
variants = [
    "Add",
    "Sub",
    "Neg",
    "Mul",
    "Div",
    "Mod",
    "And",
    "Or",
    "Xor",
    "Not",
    "Shl",
    "Shr",
    "Sar",
    "Mov",
    "LoadEnumElement",
    "LoadEnumVariant",
    "LoadField",
    "StoreField",
    "LoadGlobal",
    "StoreGlobal",
    "LoadConst",
    "ConstTrue",
    "ConstFalse",
    "ConstUInt8",
    "ConstChar",
    "ConstInt32",
    "ConstInt64",
    "ConstFloat32",
    "ConstFloat64",
    "ConstString",
    "TestIdentity",
    "TestEq",
    "TestNe",
    "TestGt",
    "TestGe",
    "TestLt",
    "TestLe",
    "JumpLoop",
    "LoopStart",
    "Jump",
    "JumpIfFalse",
    "JumpIfTrue",
    "Switch",
    "InvokeDirect",
    "InvokeVirtual",
    "InvokeStatic",
    "InvokeLambda",
    "InvokeGenericStatic",
    "InvokeGenericDirect",
    "NewObjectUninitialized",
    "NewObject",
    "NewArray",
    "NewTuple",
    "NewEnum",
    "NewStruct",
    "NewTraitObject",
    "NewLambda",
    "ArrayLength",
    "LoadArray",
    "StoreArray",
    "LoadTraitObjectValue",
    "GetFieldAddress",
    "StoreAddress",
    "LoadAddress",
    "GetFieldRef",
    "StoreRef",
    "LoadRef",
    "GetRef",
    "Ret",
]

[BytecodeType]
name_function = "bytecodeTypeName"
variants = [
    "Unit",
    "Bool",
    "UInt8",
    "Char",
    "Int32",
    "Int64",
    "Float32",
    "Float64",
    "Ptr",
    "Address",
    "Tuple",
    "Enum",
    "Struct",
    "TypeParam",
    "Class",
    "TraitObject",
    "Lambda",
    "TypeAlias",
    "Assoc",
    "This",
    "Ref",
]

[ConstPoolOpcode]
variants = [
    "String",
    "Float32",
    "Float64",
    "Int32",
    "Int64",
    "Char",
    "Class",
    "Field",
    "Fct",
    "TraitObjectMethod",
    "Generic",
    "Enum",
    "EnumVariant",
    "EnumElement",
    "Struct",
    "StructField",
    "TraitObject",
    "TupleElement",
    "Tuple",
    "Lambda",
    "JumpTable",
]

[ConstValueOpcode]
variants = [
    "None",
    "Bool",
    "Char",
    "Int",
    "Float",
    "String",
]

[LazyCompilationSite]
variants = [
    "Direct",
    "Virtual",
    "Lambda",
]

[Intrinsic]
name_function = "intrinsicName"
variants = [
    "ArrayNewOfSize",
    "ArrayWithValues",
    "ArrayLen",
    "ArrayGet",
    "ArraySet",
    "Unreachable",
    "FatalError",
    "UnsafeKillRefs",
    "Assert",
    "Debug",
    "StrLen",
    "StrGet",
    "BoolEq",
    "BoolNot",
    "BoolToInt32",
    "BoolToInt64",
    "UInt8Eq",
    "UInt8Cmp",
    "UInt8ToChar",
    "UInt8ToInt32",
    "UInt8ToInt64",
    "CharEq",
    "CharCmp",
    "CharToInt32",
    "CharToInt64",
    "Int32ToUInt8",
    "Int32ToCharUnchecked",
    "Int32ToInt64",
    "Int32ToFloat32",
    "Int32ToFloat64",
    "ReinterpretInt32AsFloat32",
    "EnumEq",
    "EnumNe",
    "Int32Eq",
    "Int32Cmp",
    "Int32Add",
    "Int32AddUnchecked",
    "Int32Sub",
    "Int32SubUnchecked",
    "Int32Mul",
    "Int32MulUnchecked",
    "Int32Div",
    "Int32Mod",
    "Int32Or",
    "Int32And",
    "Int32Xor",
    "Int32Shl",
    "Int32Sar",
    "Int32Shr",
    "Int32RotateLeft",
    "Int32RotateRight",
    "Int32Not",
    "Int32Neg",
    "Int32NegUnchecked",
    "Int32CountZeroBits",
    "Int32CountOneBits",
    "Int32CountZeroBitsLeading",
    "Int32CountOneBitsLeading",
    "Int32CountZeroBitsTrailing",
    "Int32CountOneBitsTrailing",
    "Int64ToInt32",
    "Int64ToCharUnchecked",
    "Int64ToUInt8",
    "Int64ToFloat32",
    "Int64ToFloat64",
    "ReinterpretInt64AsFloat64",
    "Int64Eq",
    "Int64Cmp",
    "Int64Add",
    "Int64AddUnchecked",
    "Int64Sub",
    "Int64SubUnchecked",
    "Int64Mul",
    "Int64MulUnchecked",
    "Int64Div",
    "Int64Mod",
    "Int64Or",
    "Int64And",
    "Int64Xor",
    "Int64Shl",
    "Int64Sar",
    "Int64Shr",
    "Int64RotateLeft",
    "Int64RotateRight",
    "Int64Not",
    "Int64Neg",
    "Int64NegUnchecked",
    "Int64CountZeroBits",
    "Int64CountOneBits",
    "Int64CountZeroBitsLeading",
    "Int64CountOneBitsLeading",
    "Int64CountZeroBitsTrailing",
    "Int64CountOneBitsTrailing",
    "Float32ToInt32",
    "Float32ToInt64",
    "PromoteFloat32ToFloat64",
    "ReinterpretFloat32AsInt32",
    "Float32Eq",
    "Float32Cmp",
    "Float32Add",
    "Float32Sub",
    "Float32Mul",
    "Float32Div",
    "Float32Neg",
    "Float32Abs",
    "Float32IsNan",
    "Float32RoundToZero",
    "Float32RoundUp",
    "Float32RoundDown",
    "Float32RoundHalfEven",
    "Float32Sqrt",
    "Float64ToInt32",
    "Float64ToInt64",
    "DemoteFloat64ToFloat32",
    "ReinterpretFloat64AsInt64",
    "Float64Eq",
    "Float64Cmp",
    "Float64Add",
    "Float64Sub",
    "Float64Mul",
    "Float64Div",
    "Float64Neg",
    "Float64Abs",
    "Float64IsNan",
    "Float64RoundToZero",
    "Float64RoundUp",
    "Float64RoundDown",
    "Float64RoundHalfEven",
    "Float64Sqrt",
    "OptionGetOrPanic",
    "OptionIsNone",
    "OptionIsSome",
    "AtomicInt32Get",
    "AtomicInt32Set",
    "AtomicInt32Exchange",
    "AtomicInt32CompareExchange",
    "AtomicInt32FetchAdd",
    "AtomicInt64Get",
    "AtomicInt64Set",
    "AtomicInt64Exchange",
    "AtomicInt64CompareExchange",
    "AtomicInt64FetchAdd",
    "ThreadCurrent",
]

[InstructionSet]
variants = [
    "X64",
    "Arm64",
]

[CompilationMode]
variants = [
    "Stage1",
    "Stage2",
    "Stage3",
    "Jit",
]

[RelocationKind]
variants = [
    "JumpTableEntry",
    "TargetObject",
    "Code",
]
