name: ci

on: [push, pull_request]

jobs:
  # sanitizer:
  #   name: sanitizer
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Clone repository
  #       uses: actions/checkout@v1
  #       with:
  #         fetch-depth: 1
  #         submodules: true

  #     - name: Install rust
  #       uses: hecrj/setup-rust-action@v1
  #       with:
  #         rust-version: "nightly"

  #     - name: ASAN Build Debug
  #       run: RUSTFLAGS="-Z sanitizer=address" cargo +nightly build --target x86_64-unknown-linux-gnu

  #     - name: ASAN Tests Debug
  #       run: ruby tools/tester.rb --binary=target/x86_64-unknown-linux-gnu/debug/dora --env ASAN_OPTIONS=detect_leaks=1

  #     - name: ASAN Build Release
  #       run: RUSTFLAGS="-Z sanitizer=address" cargo +nightly build --release --target x86_64-unknown-linux-gnu

  #     - name: ASAN Tests Release
  #       run: ruby tools/tester.rb --binary=target/x86_64-unknown-linux-gnu/release/dora --env ASAN_OPTIONS=detect_leaks=1

  test:
    name: test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macOS-latest]

    steps:
      - name: Clone Repo
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          submodules: true

      - name: Install Rust
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: "stable"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Increase Stack Size
        run: echo "RUST_MIN_STACK=16777216" >> $GITHUB_ENV

      - name: Test
        if: matrix.os != 'windows-latest'
        run: tools/test --config all

      - name: Test (Windows)
        if: matrix.os == 'windows-latest'
        run: .\tools\test.ps1 --config all

      - name: Test Release
        if: matrix.os != 'windows-latest'
        run: tools/test-release --config all

      - name: Test Release (Windows)
        if: matrix.os == 'windows-latest'
        run: .\tools\test-release.ps1 --config all
